<div fxLayout="row" fxLayoutGap="250px" class="container">
  <div fxLayout="column" class="flex">
    <div class="header">Education</div>
    <div class="sub-header">WHAT I’VE LEARNED</div>
    <div class="time-stamp">2020–Present</div>
    <div class="role">Ngee Ann Polytechnic</div>
    <div class="description">Electronic and Computer Engineering</div>

    <div class="time-stamp">2019–2020</div>
    <div class="role">Ngee Ann Polytechnic</div>
    <div class="course">Polytechnic Foundation Programme (PFP)</div>
    <div class="description">Electronic and Computer Engineering</div>

    <div class="time-stamp">2015–2018</div>
    <div class="role">Pei Hwa Secondary School</div>
    <div class="description">N–Level Examination</div>

    <div class="time-stamp">2007-2013</div>
    <div class="role">Mee Toh School Primary School</div>
    <div class="description">Primary School Leaving Examination (PSLE)</div>
  </div>
  <div fxLayout="column" class="flex">
    <div class="header">Experience</div>
    <div class="sub-header">WHERE I’VE WORKED</div>
    <div class="time-stamp">March 2022 - Present</div>
    <div class="role">Accenture PTE LTD</div>
    <div class="location">Southeast Asia</div>
    <div class="description-2">FrontEnd Application Developer (Internship)</div>

    <div class="time-stamp">January 2020 - March 2022</div>
    <div class="role">Genki Sushi</div>
    <div class="location">Punggol, Waterway Point</div>
    <div class="description-2">Waiter/Chef (Part time)</div>

    <div class="time-stamp">January 2019 - December 2019</div>
    <div class="role">JUMBO Seafood</div>
    <div class="location">Boat Quay, Riverside</div>
    <div class="description-2">Waiter (Part time)</div>
  </div>
</div>
