<div class="container">
  <div class="header">Honors & awards</div>
  <div class="sub-header">WHERE I SHINE</div>
  <div fxLayout="column" fxLayoutGap="15px">
    <div class="award-title">
      Most Outstanding Performance Award in Level 2 Electronic and Computer
    </div>
    <div class="standard-text">Issued by Ngee Ann Polytechnic · Apr 2021</div>
    <div fxLayout="row" class="row-class" fxLayoutGap="10px">
      <img src="../../../assets/icons/office.png" width="15px" />
      <div class="stamdard-text">Associated with Ngee Ann Polytechnic</div>
    </div>
    <div class="standard-text">
      Placed 1st in cohort based on academic performance
    </div>
    <div class="standard-text-2">
      For October Semester, Year 1, Academic Year 2020/2021
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="15px">
    <div class="award-title">
      Most Outstanding Performance Award in Level 2 Electronic and Computer
    </div>
    <div class="standard-text">Issued by Ngee Ann Polytechnic · Apr 2021</div>
    <div fxLayout="row" class="row-class" fxLayoutGap="10px">
      <img src="../../../assets/icons/office.png" width="15px" />
      <div class="stamdard-text">Associated with Ngee Ann Polytechnic</div>
    </div>
    <div class="standard-text">
      Placed 1st in cohort based on academic performance
    </div>
    <div class="standard-text-2">
      For October Semester, Year 1, Academic Year 2020/2021
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="15px">
    <div class="award-title">
      Most Outstanding Performance Award in Level 2 Electronic and Computer
    </div>
    <div class="standard-text">Issued by Ngee Ann Polytechnic · Apr 2021</div>
    <div fxLayout="row" class="row-class" fxLayoutGap="10px">
      <img src="../../../assets/icons/office.png" width="15px" />
      <div class="stamdard-text">Associated with Ngee Ann Polytechnic</div>
    </div>
    <div class="standard-text">
      Placed 1st in cohort based on academic performance
    </div>
    <div class="standard-text-2">
      For October Semester, Year 1, Academic Year 2020/2021
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="15px">
    <div class="award-title">
      Most Outstanding Performance Award in Level 2 Electronic and Computer
    </div>
    <div class="standard-text">Issued by Ngee Ann Polytechnic · Apr 2021</div>
    <div fxLayout="row" class="row-class" fxLayoutGap="10px">
      <img src="../../../assets/icons/office.png" width="15px" />
      <div class="stamdard-text">Associated with Ngee Ann Polytechnic</div>
    </div>
    <div class="standard-text">
      Placed 1st in cohort based on academic performance
    </div>
    <div class="standard-text-2">
      For October Semester, Year 1, Academic Year 2020/2021
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="15px">
    <div class="award-title">
      Most Outstanding Performance Award in Level 2 Electronic and Computer
    </div>
    <div class="standard-text">Issued by Ngee Ann Polytechnic · Apr 2021</div>
    <div fxLayout="row" class="row-class" fxLayoutGap="10px">
      <img src="../../../assets/icons/office.png" width="15px" />
      <div class="stamdard-text">Associated with Ngee Ann Polytechnic</div>
    </div>
    <div class="standard-text">
      Placed 1st in cohort based on academic performance
    </div>
    <div class="standard-text-2">
      For October Semester, Year 1, Academic Year 2020/2021
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="15px">
    <div class="award-title">
      Most Outstanding Performance Award in Level 2 Electronic and Computer
    </div>
    <div class="standard-text">Issued by Ngee Ann Polytechnic · Apr 2021</div>
    <div fxLayout="row" class="row-class" fxLayoutGap="10px">
      <img src="../../../assets/icons/office.png" width="15px" />
      <div class="stamdard-text">Associated with Ngee Ann Polytechnic</div>
    </div>
    <div class="standard-text">
      Placed 1st in cohort based on academic performance
    </div>
    <div class="standard-text-2">
      For October Semester, Year 1, Academic Year 2020/2021
    </div>
  </div>
</div>
