<div class="container">
  <div class="header">Skills</div>
  <div class="sub-header">OUT OF OFFICE</div>
  <div fxLayout="row" fxLayoutGap="250px">
    <div fxLayout="column" fxLayoutGap="50px" class="flex">
      <div fxLayout="row" fxLayoutGap="10px">
        <img src="../../../assets/icons/office.png" width="20px" />
        <div class="skills">Microsoft Office</div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <img src="../../../assets/icons/office.png" width="20px" />
        <div class="skills">Microsoft Office</div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <img src="../../../assets/icons/office.png" width="20px" />
        <div class="skills">Microsoft Office</div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <img src="../../../assets/icons/office.png" width="20px" />
        <div class="skills">Microsoft Office</div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="50px" class="flex">
      <div fxLayout="row" fxLayoutGap="10px">
        <img src="../../../assets/icons/office.png" width="20px" />
        <div class="skills">Microsoft Office</div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <img src="../../../assets/icons/office.png" width="20px" />
        <div class="skills">Microsoft Office</div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <img src="../../../assets/icons/office.png" width="20px" />
        <div class="skills">Microsoft Office</div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <img src="../../../assets/icons/office.png" width="20px" />
        <div class="skills">Microsoft Office</div>
      </div>
    </div>
  </div>
</div>
