.container {
  background: #eef0fb;
  justify-content: center;
  text-align: start;
  padding: 100px 300px;
  border-bottom: 4px solid black;
}

.flex {
  flex: 1;
}

.header {
  color: #6073de;
  font-size: 36px;
  margin-bottom: 15px;
}

.sub-header {
  color: #7b8be4;
  font-size: 18px;
  margin-bottom: 40px;
}

.skills {
  font-size: 18px;
  font-weight: 600;
}
