<div fxLayout="column" class="container" fxLayoutAlign="center start">
  <div class="title">About me</div>
  <div class="sub-title">My Background</div>
  <p>
    With a passion driven for engineering, I have both the skill set and
    background necessary to dive deep into the engineering world. As an upbeat,
    self-motivated team player with excellent communication, I envision an
    exciting future in the industry. Browse my site to see all that I have to
    offer.
  </p>
  <div fxLayout="row" fxLayoutGap="10px" class="spacing">
    <div class="details">Find out more about my career road map:</div>
    <img src="../../../assets/icons/ppt.png" width="30px" />
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="details">
      Find out more about the projects that I am working on:
    </div>
    <img src="../../../assets/icons/ppt.png" width="30px" />
  </div>
</div>
