.container {
  background: #eef0fb;
  padding: 100px 300px;
  border-bottom: 4px solid black;
}

.title {
  color: #6073de;
  font-size: 36px;
  margin-bottom: 20px;
}

.sub-title {
  color: #7b8be4;
  font-size: 22px;
  margin-bottom: 10px;
}

p {
  color: #6f738f;
  font-size: 22px;
  line-height: 2;
  margin-bottom: 50px;
  font-family: "Times New Roman", Times, serif;
}

.details {
  color: #6f738f;
  font-size: 22px;
}

.spacing {
  margin-bottom: 15px;
}
